.carouselContainer {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .carouselContent {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
  }
  
  .cardContainer {
    min-width: 100%;
    flex: 1 0 100%;
    opacity: 0;
    transform: scale(0.9);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .cardContainer h3 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .cardContainer p {
    margin: 10px 0;
    font-size: 1rem;
  }
  
  .active {
    opacity: 1;
    transform: scale(1);
  }
  
  .prevButton,
  .nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }
  
  .prevButton {
    left: 10px;
  }
  
  .nextButton {
    right: 10px;
  }
  
  .prevButton:hover,
  .nextButton:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  