.containerCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid gray;
    width: 91%;
}

h2{
    text-align: center;
    margin: 0% 0%;
    font-size: 182%;
}


@media (min-width: 992px) {
.containerCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid gray;
    width: 91%;
}

h2{
    text-align: justify;
    margin: 0% 0%;
    font-size: 182%;
}

}