.h4{
  font-size: 73%;
}

.containerFooter{
  text-align: center;
  padding: 15% 0%;
}

@media (min-width: 992px) {



.h4{
  font-size: 100%;
}

.containerFooter{
  text-align: center;
  color: var(--text-color);
  padding: 15% 0%;
  background: linear-gradient(180deg, var(--background-color), var(--background-color), var(--background-color));
}

}

