.containerSellBuy{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.containerInfo{
    
    width: 100%;
    text-align: center;
    border: 1px solid;
    padding: 21px;
    margin: 1%;
    background-color: var(--colorCardDolar);
    border: none;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.compra{
    margin-right: 7%;
    background-color: #2b803e;
    color: white;
    width: 116px;
    padding: 4% 6%;
    text-align: center;
    border-radius: 13px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.venta{
    background-color: #711919;
    color: white;
    width: 116px;
    padding: 4% 6%;
    text-align: center;
    border-radius: 13px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.h4{
    font-size: 110%;
}