.containerSellBuy{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.span{
    font-weight: 700;
    font-size: 23px;
}

.containerInfo{
    
    width: 90%;
    text-align: center;
    padding: 6px;
    background-color: var(--colorCardDolar);
    border: none;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.containerInfo:hover{
    background-color: var(--hoverCard);
    transform: scale(1.1);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.compra{
    margin-right: 7%;
    color: var(--text-color);
    width: 116px;
    font-size: 86%;
    padding: 4% 6%;
    text-align: center;
    border-radius: 13px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.venta{
    color: var(--text-color);
    width: 116px;
    font-size: 86%;
    padding: 4% 6%;
    text-align: center;
    border-radius: 13px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.h4{
    font-size: 100%;
    margin: 4% 0% 0% 0%;
    font-weight: 600;
}

.verMas{
    text-align: center;
    font-size: 69%;
    color: #a19a9a;
    margin: 0;
    
}