.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 30px 60px;
    margin-bottom: 10%;

    padding: 3% 4%;
}

.containerPriceOfDAyDesktop{

    padding-top: 4%;
    padding-bottom: 8%;
    width: 100%;
    background: linear-gradient(181deg, #2b803e, #2b803e, var(--background-color));
}

.h2{
    text-align: center;
    color: white;
}