@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:wght@100..900&display=swap');

.title{
    text-align: center;
    width: fit-content;
    margin: 1.5% 0%;
    color: white;
    text-transform: uppercase;
    font-size: 138%;
}


.containerTitle{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 992px){

.title{
    text-align: center;
    width: fit-content;
    margin: 1.5% 0%;
    color: white;
    text-transform: uppercase;
    font-size: 230%;
}


.containerTitle{
    display: flex;
    align-items: center;
    justify-content: center;
}

}