.price{
    display: flex;
    flex-direction: column;
}

.description{
    
}

.titleDescription{
    width: 52%;
}

.containerCard{
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    width: 63%;
    /* align-items: center; */
    /* justify-content: space-around; */
    border: 1.5px solid #edcaca;
    border-radius: 40px;
     padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.348) 0px 3px 8px;
    margin-bottom: 4%;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
   
}



.visible {
    opacity: 1;
  }

  .hidden {
    opacity: 0;
  }

.span{
    text-align: end;
    margin-right: 5%;
    font-size: 84%;
    color: grey;
}

.contentCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
