.compra {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 81%;
  padding: 4% 6%;
  width: fit-content;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 13px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.venta {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 81%;
  padding: 4% 6%;
  width: fit-content;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 13px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.containerPrices {
  display: flex;
  flex-direction: row;
  font-size: 109%;
  width: 100%;
  align-items: center;
  justify-content: center;
}


.span{
  font-weight: 600;
    font-size: 200%;
}

@media (min-width: 992px) {
  .compra {
    margin-right: 7%;
    width: 116px;
    padding: 4% 6%;
    text-align: center;
    border-radius: 13px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .venta {
  
    width: 116px;
    padding: 4% 6%;
    text-align: center;
    border-radius: 13px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .containerPrices {
    display: flex;
    flex-direction: row;
    font-size: 109%;
    width: 88%;
  }

  .compra:hover {
    cursor: pointer;
    transform: scale(1.2);
  }

  .venta:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}
