.containerCard {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .h2 {
    text-align: center;
    font-size: 185%;
    margin-bottom: 15%;
  }

  .containerH2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7% 0%;
  }

.IconArrowDown{
    animation: moveDown 1.1s infinite;
}

@keyframes moveDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px); /* Desplazamiento hacia abajo */
    }
    100% {
      transform: translateY(0);
    }
  }

@media (min-width: 992px) {
  .containerCard {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .IconArrowDown{
    scale: 2;
  }

  .h2 {
    font-size: 185%;
    margin-bottom: 20%;
    text-align: center;
  }

  .containerH2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 0%;
    margin-bottom: 7%;
    margin-top: 2%;
  }




}
