.containerCard {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .h2 {
    text-align: center;
    font-size: 185%;
    margin-bottom: 15%;
  }

  .containerH2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 27%;
  }


.IconArrowDown{
    animation: moveDown 1.1s infinite;
}

@keyframes moveDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px); /* Desplazamiento hacia abajo */
    }
    100% {
      transform: translateY(0);
    }
  }

@media (min-width: 992px) {
  .containerCard {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .IconArrowDown{
    scale: 2;
  }

  .h2 {
    font-size: 185%;
    margin-bottom: 2%;
    text-align: center;
    margin-top: 2%;
  }

  .containerH2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 0%;
    margin-bottom: 7%;
    margin-top: 2%;
  }


.containerLayout{
  width: 100%;
  background: linear-gradient(0deg, var(--background-color), #3f9b52, var(--background-color));
  padding-bottom: 21%;
}

}
