@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body{
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

:root {
  --background-color: #000000e8;
  --text-color: #ffffff;
}

/* Estilos para el modo oscuro */
[data-theme='light'] {
  --background-color: #ffffff;
  --text-color: #000000;
}

/* Aplicar las variables en el cuerpo */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}