@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body{
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

:root {
  --background-color: #000000e8;
  --text-color: #ffffff;
  --icon-color: #ffffff; /* Color para los íconos en el tema oscuro */
  --icon-hover-color: #aaaaaa; /* Color para íconos al pasar el mouse en tema oscuro */
}

[data-theme='dark'] {
  --background-color: #000000e8;
  --icon-color: #ffffff; /* Color para los íconos en el tema oscuro */
  --icon-hover-color: #aaaaaa; /* Color para íconos al pasar el mouse en tema oscuro */
  --text-color: #ffffff;
  --colorCardDolar: #00000075;
}


/* Estilos para el modo oscuro */
[data-theme='light'] {
  --background-color: #ffffff;
  --text-color: #000000;
  --icon-color: #000000; /* Color para los íconos en el tema claro */
  --icon-hover-color: #555555; /* Color para íconos al pasar el mouse en tema claro */
  --colorCardDolar: #ffffff;
}

/* Aplicar las variables en el cuerpo */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}